/* #uploaded-files {
    margin-top: 10px;
  }
  
  #uploaded-files li {
    display: inline-block;
    margin-right: 10px;
  }
  
  #uploaded-files li button {
    margin-left: 5px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    background-color: #eee;
  } */
  