.container {
    display: flex;
    justify-content: flex-start;
}

.my-skills-page{
    height: 100vh;
    flex: 1;
}

.card {
    border: 2px solid #1e1e24;
    border-radius: 10px;
    color: #f7f7f2;
    background-color: #1e1e24;
}


@media (min-width: 576px){
    .my-skills-page{
        margin-top: 200px;
    }
}