/* .container {
    display: flex;
    align-items: center;
} */

.my-skills-page{
    height: 100vh;
    flex: 1;
}

.card {
    border: 2px solid #1e1e24;
    border-radius: 10px;
    color: #f7f7f2;
    background-color: #1e1e24;
}

.skill-img {
    margin-left: 62px;
    margin-top: 10px;
    align-items: center;
    width: 190px; /* Set the width of the image */
    height: 150px; /* Set the height of the image */
}

.section-title h2{
    font-weight: bold;
    font-size: 42px;

}





@media (min-width: 576px){
    .my-skills-page{
        margin-top: 200px;
    }
}