.home-page{
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem 0 5rem;
    gap: 1rem;
}

.home-text{
    text-align: center;
    justify-content: center;
}

.home-text h2{
    font-size: 46px;
}s

.home-text h3{
    font-size: 32px;
}

.home-text p{
    font-size: 16px;
    margin-bottom: 2rem;
}

.home-btn {
    display: inline-block;
    border-radius: 20px; /* Adjust the radius as needed */
    overflow: hidden;
}

.home-btn .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white; /* Text color */
    text-decoration: none;
}


/* .btn {
    display: inline-block;
    padding: 10px 20px;
    width: 500p;
    border-radius: 50px;
    cursor: pointer;
    color: #ffffff;
    background-color: #1e1e24;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
} */

/* .btn :hover{
    background-color: #f7f7f2;
    color: #1e1e24;
    border: 2px solid #1e1e24; 
    border-radius: 10px; 
    transform: tanslateY(5px);
} */

/* .home-btn .btn:hover {
    background-color: #f7f7f2;
    color: #1e1e24;
    border: 2px solid #1e1e24;
    border-radius: 10px;
    transform: translateY(5px);
} */

.img{
    max-width: 650px;
    height: auto;
}

@media (min-width: 576px){
    .home-page{
        margin-bottom: 200px;
    }
}