{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{% static '../static/dependencies/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/admin-cms.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/admin-navBar.css' %}">
</head>
<body>
    <div class="">
        <div class="row flex-nowrap">
            {% include './components/header/admin_navbar.html' %}
            <div class="col py-3 text-center content">
                <h1>Welcome to Admin Portfolio</h1>
            </div>
        </div>
    </div>
    

    <script src="{% static '../static/dependencies/js/bootstrap.bundle.js' %}"></script>
</body>
</html>