{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static '../static/dependencies/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/index.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/style_home.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/about-me.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/platform-cards.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/my-works.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/my-skills.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/contact-me.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

</head>
<body>
    <!-- This is for NAVBAR -->
        <header>
            {% include 'components/header/navbar.html' %}
        </header>
    <!-- end line for NAVBAR -->

    
    <!-- HOME PAGE -->
    <div class="container">
        <section class="home-page">
            <div class="icons d-flex flex-row mb-3 flex-column justify-content-center">
                {% for data in user %}
                    <a href="{{ data.facebook_link }}"><img src="../media/icons/facebook.png" style="height: auto; width: 25px; margin-bottom: 10px;"></img></a>
                    <a href="{{ data.email }}"><img src="../media/icons/gmail.png" style="height: auto; width: 25px; margin-bottom: 10px;"></img></a>
                    <a href="{{ data.linkedin_link }}"><img src="../media/icons/linkedin.png" style="height: auto; width: 25px; margin-bottom: 10px;"></img></a>
                    <a href="{{ data.github_link }}"><img src="../media/icons/github.png" style="height: auto; width: 25px; margin-bottom: 10px;"></img></a> 
                {% endfor %}
            </div>
            <div class="row home-text align-items-center">
                
                <div class="col-md-5 order-md-1 order-2 mx-auto">
                    <!-- Content for the first column -->
                    {% for user_data in user %}
                    <h2>Hey There! I'm {{user_data.first_name}}</h2>
                    {% endfor %}
                    <h3>&lt; Python Backend Developer &gt;</Python></h3>
                    <p>“Highly motivated IT student specializing 
                        in backend development. Adaptable to diverse 
                        working environments, consistently delivering 
                        reliable and efficient solutions that exceed 
                        client and user expectations.”
                    </p>
                    
                    <div class="home-btn">
                        <a href="#about-me" class="btn">Learn More About Me</a>
                    </div>
                </div>
                <div class="col-md-6 order-md-2 order-1 mx-auto">
                    <!-- Content for the second column -->
                    <img src="../media/images/home-page-img.png" class="img-fluid img" alt="Atilano-image">
                </div>

            </div>
        </section>
    </div>
    <!-- END OF HOME PAGE -->
    

    <!-- ABOUT ME PAGE -->
    <div class="w-100 about-me-container" style="background-color: #1e1e24; min-height: 50rem;" >
        <section class="about-me-page" id="about-me">
            <div class="about-me">
                <div class="container text-center">
                    {% for data in user %}
                    <div class="row">
                      <div class="col">
                        <img src="{{ data.image_profile.url }}" class="img-fluid about-me-img" alt="Atilano-image">
                      </div>
                      <div class="col about-me-content">
                        <h2>About Me</h2>
                        
                            <h3>Hi! {{ data.first_name }} {{data.last_name}}</h3>
                            <p style="text-align: justify;">{{ data.about_me_context}}
                            </p>
                        
                            <div class="home-btn">
                                <a href="{{ data.resume.url }}"><div class="dl-cv-btn">View resume</div></a>
                            </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
            </div>
        </section>
    </div>
    <!-- END OF ABOUT ME PAGE -->

    <!-- MY SKILLS PAGE-->
    <div class="container">
        <section class="my-skills-page" id="skills">
            <div class="section-title" style="text-align: center;">
                <h2>My Skills</h2>
                <p style="margin-top: 20px;">
                   Through years of dedicated learning and professional experience as an IT developer, 
                   I've cultivated a comprehensive skillset. This expertise encompasses both technical 
                   proficiency in programming languages and frameworks, along with strong soft skills in 
                   communication, problem-solving, and teamwork. This well-rounded foundation allows me to 
                   effectively translate complex requirements into efficient and innovative software solutions.
                </p>
            </div>
            <div class="col text-center my-skills-content"> <!-- Added class "text-center" -->
                <div class="container" >
                    <div class="row">
                        {% for skills_data in skill %}
                        <div class="col">
                            <div class="card" style="width: 20rem;">
                                <img src="{{ skills_data.skill_logo.url }}" class="card-img-top  skill-img" alt="...">
                                <div class="card-body text-center">
                                    <h4>{{ skills_data.skill_name }}</h4>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <!-- END OF MY SKILLS PAGE -->

    <!-- WORKS PAGE -->
    <div class="container">
        <section class="my-works-page" id="works">
            <div class="my-works">
                <div class="section-title" style="text-align: center;">
                    <h2>My Projects</h2>
                    <p>
                        My passion for innovation fuels my software development experience.  
                        This translates into a relentless pursuit of crafting exceptional, 
                        user-friendly solutions across various projects.  For example, I've 
                        built user-friendly e-commerce platforms and real-time data processing 
                        pipelines, all while mastering new technologies to deliver exceptional results. 
                        Every project is a chance to learn and grow, and this dedication to excellence 
                        is evident in my meticulous approach, ensuring each line of code contributes to 
                        a robust final product.
                    </p>
                </div>
                <div class="col my-works-content text-center"> <!-- Added class "text-center" -->
                    <div class="container">
                        <div class="row">
                            {% for project_data in project %}
                            <div class="col open-button"  data-id="{{project_data.id}}">  <div class="card" style="width: 20rem;">
                                <img src="{{ project_data.project_profile.url }}" class="card-img-top skill-img" alt="...">
                                <div class="card-body text-center">
                                  <h2>{{ project_data.project_title }}</h2>
                                </div>
                              </div>
                            </div>
                            

                            <div class="slide-container" id="modal-container{{ project_data.id }}">
                                <div class="container slide_container_content">
                                    <h2>Overview of the Project<span id="close-button" class="close-button">x</span></h2>
                            
                                    <div id="carouselExampleAutoplaying" class="carousel slide project-images" data-bs-ride="carousel">
                                        <div class="carousel-inner">
                                            {% for image_data in project_data.project_img.all %}
                                                <div class="carousel-item active">
                                                    <img src="{{ image_data.project_image.url }}" class="d-block w-100" alt="..." style="height: 200px; width: 10px; object-fit: contain;">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                      </div>
                            
                                      <h3 style="margin-top: 50px; margin-bottom: 20px;">{{ project_data.project_title }}</h3>
                            
                                      <p style="text-align: justify;">
                                        {{ project_data.project_content }}
                                      </p>
                                </div>
                            </div>
                            <div id="overlay" class="overlay"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END OF WORKS PAGE -->

    <!-- CONTACT ME PAGE -->
    <section class="w-100" style="background-color: #1e1e24;" id="contact">
        <div class="container contact-me text-center gap-5 mt-2 d-flex align-items-center justify-content-around" style="min-height: 50rem;">
            <div class="contact-text text-start" style="font-size: 64px; font-weight: bold;">
                <p>
                    Let's chat.<br>
                    Tell me about the<br>   
                    project.
                </p>
                <h6 class="bold-and-large" style="font-size: 24px; font-weight: bold;">Let's work together in a project</h6>
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto" style="margin-bottom: 12px;">
                        <img src="../media/icons/email.png" style="height: 25px; width: 30px;" />
                    </div>
                    {% for user_data in user %}
                    <div class="col">
                        <h6 class="mb-0"><strong>Email me: </strong> <span> {{ user_data.email }}</span></h6>
                    </div>
                    {% endfor %}
                </div>
                
                
            </div>
            <div class="white-container">
                <div class="container-content">
                    <h6>Send me a message</h6>
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="fullname" placeholder="Fullname">
                        </div>

                        <div class="mb-3">
                            <input type="email" class="form-control" id="email_address" placeholder="Email address">
                        </div>

                        <div class="mb-3">
                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                        </div>

                        <div class="mb-3">
                            <label for="message" class="form-label">Tell me about the project:</label>
                            <textarea class="form-control text-box" id="message" rows="3"></textarea>
                        </div>
                        <div class="text-center form-btn">
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="submit-btn" style="border-radius: 20px; background-color: #1e1e24; color: #f5f4f4; padding: 10px 20px; cursor: pointer; width: 300px;">Save</button>
                            </div>
                        </div>         
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <script src="{% static '../static/js/works-page.js' %}"></script>
    <script src="{% static '../static/dependencies/js/bootstrap.bundle.js' %}"></script>
</body>
</html>