{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '../static/dependencies/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/login.css' %}">
</head>
<body>
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="card login-card shadow-sm p-4">
          <h3 class="card-title text-center mb-4">Login</h3>
          <form action="{% url 'backend:signin' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="login-btn d-flex justify-content-center">
                <button type="submit" class="btn mt-3 rounded-pill">Login</button>
            </div>
            <a href="#`" class="d-block mt-3 text-muted text-decoration-none"><p style="color: #f7f7f2;">Forgot Password?</p></a>
          </form>
        </div>
    </div>
      

    <script src="{% static '../static/dependencies/js/bootstrap.bundle.js' %}"></script>
</body>
</html>