{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Information</title>
    <link rel="stylesheet" href="{% static '../static/dependencies/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/personal_information.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/admin-navBar.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% include './components/header/admin_navbar.html' %}
            <div class="col py-3 content">
                <div class="container-fluid">
                    <div class="row">
                        <h2>Create Personal Information</h2>
                        <div class="col">
                            <div class="container" style="max-width: 700px;"> <!-- Apply max-width using inline CSS -->
                                <form class="border border-2 border-black p-4 shadow rounded-3" action="{% url 'base:personal_information' %}" method="POST" enctype="multipart/form-data"> <!-- Add border-radius and reduce the border thickness -->
                                    {% csrf_token %}

                                 
                                    {% for user_data in user %}
                                        <div class="mb-3">
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <label for="image_profile" class="form-label">Upload Image</label>
                                                        <input name="image_profile" class="form-control" type="file" id="image_profile">
                                                        <span>{{ user_data.image_profile }}</span>
                                                    </div>
                                                </div>
                                                <div class="row profile-name" style="margin-bottom:  20px;">
                                                    <div class="col">
                                                        <label for="first_name" class="form-label"> FirstName</label>
                                                        <input type="text" name="first_name" class="form-control text-boxes" id="first_name" placeholder="Enter your first name" value="{{ user_data.first_name }}">
                                                    </div>

                                                    <div class="col">
                                                        <label for="middle_name" class="form-label">Middle Name</label>
                                                        <input type="text" name="middle_name" class="form-control text-boxes" id="middle_name" placeholder="Enter your middle name" value="{{ user_data.middle_name }}">
                                                    </div>

                                                    <div class="col">
                                                        <label for="last_name" class="form-label">Last Name</label>
                                                        <input type="text" name="last_name" class="form-control text-boxes" id="last_name" placeholder="Enter your last name" value="{{ user_data.last_name }}">        
                                                    </div>
                                                </div>

                                                <div class="row age-contact" style="margin-bottom:  20px;">
                                                    <div class="col">
                                                        <label for="age" class="form-label">Age</label>
                                                        <input type="text" name="age" class="form-control text-boxes" id="age" placeholder="Enter your age" value="{{ user_data.age }}">
                                                    </div>

                                                    <div class="col">
                                                        <label for="contact_number" class="form-label">Contact Number</label>
                                                        <input type="text" name="contact_number" class="form-control text-boxes" id="contact_number" placeholder="Enter your contact number" value="{{ user_data.contact_number }}">
                                                    </div>
                                                </div>

                                                <label for="address" class="form-label">Address</label>
                                                <input type="text" name="address" class="form-control text-boxes" id="address" placeholder="Enter your address" value="{{ user_data.address }}">

                                                <div style="margin-top: 20px;">
                                                    <label for="email" class="form-label">Email address</label>
                                                    <input type="email"  name="email" class="form-control text-boxes" id="email" placeholder="Enter your email address" value="{{ user_data.email }}">
                                                </div>

                                                
                                                
                                                <div style="margin-top: 20px;">
                                                    <label for="facebook_link" class="form-label">Facebook Link</label>
                                                    <input type="text" name="facebook_link" class="form-control text-boxes" id="facebook_link" placeholder="Enter your facebook link" value="{{ user_data.facebook_link }}">
                                                </div>
                                                
                                                <div style="margin-top: 20px;">
                                                    <label for="github_link" class="form-label">Github Link</label>
                                                    <input type="text" name="github_link" class="form-control text-boxes" id="github_link" placeholder="Enter your github link" value="{{ user_data.github_link }}">
                                                </div>
                                            
                                                <div style="margin-top: 20px;">
                                                    <label for="linkedin_link" class="form-label">LinkedIn Link</label>
                                                    <input type="text" name="linkedin_link" class="form-control text-boxes" id="linkedin_link" placeholder="Enter your linkedin link" value="{{ user_data.linkedin_link }}">
                                                </div>
                                            
                                        </div>
                                    <div class="mb-3">
                                        <label for="about_me_context" class="form-label">About Me</label>
                                        <textarea class="form-control text-boxes" name="about_me_context" id="about_me_context" rows="3">{{user_data.about_me_context}}</textarea>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col">
                                            <label for="resume" class="form-label">Upload Resume</label>
                                            <input name="resume" class="form-control" type="file" id="formFile">
                                            <span>{{ user_data.resume }}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                   
                                   
                                    <div class="text-center form-btn">
                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="submit-btn" style="border-radius: 20px; background-color: #1e1e24; color: #f5f4f4; padding: 10px 20px; cursor: pointer; width: 300px;">Save</button>
                                        </div>
                                    </div>
                                    <div class="text-center form-btn" style="margin-top: 20px;">
                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="update-btn" style="border-radius: 20px; background-color: #1e1e24; color: #f5f4f4; padding: 10px 20px; cursor: pointer; width: 300px;">Update</button>
                                        </div>
                                    </div>                                        
                                </form>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '../static/dependencies/js/bootstrap.bundle.js' %}"></script>
 
</body>
</html>