{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{% static '../static/dependencies/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/admin-navBar.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/admin-projects.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/my-skills.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% include './components/header/admin_navbar.html' %}
            <div class="col py-3 content">
                <div class="container-fluid">
                    <div class="row">
                        <h2 style="font-weight: bold;">Edit Profile</h2>
                        <div class="col">
                            <div class="container" style="max-width: 700px; margin-top: 120px;">
                                <form class="border border-2 border-black p-4 shadow rounded-3" action="#" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <!-- <div class="mb-3">
                                        <label for="image_profile" class="form-label">Profile Pic</label>
                                        <input  name="image_profile" class="form-control" type="file" id="image_profile">
                                    </div> -->

                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username</label>
                                        <input name="username" type="text" class="form-control text-boxes" id="username" placeholder="Enter your username">
                                    </div>

                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password</label>
                                        <input name="password" type="text" class="form-control text-boxes" id="password" placeholder="Enter your password">
                                    </div>

                                    <div class="mb-3">
                                        <label for="confirm_password" class="form-label">Confirm Password</label>
                                        <input name="confirm_password" type="text" class="form-control text-boxes" id="confirm_password" placeholder="confirm your password">
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button type="submit" class="btn saveBtn" style="border-radius: 20px; background-color: #1e1e24; color: #f5f4f4; padding: 10px 20px; cursor: pointer; width: 300px;">Save</button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static '../static/dependencies/js/bootstrap.bundle.js' %}"></script>
</body>
</html>